
# out folder
./workdir/ppc32-cpu-test/RAM/*
./workdir/ppc32-cpu-test/FLASH/*
./workdir/RemoteSystemsTempFiles
./workdir/.metadata

# macOS temp
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Executables
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
